/*
	Cosmograve
*/
body { 
	font			:	25px Arial;
	font-weight		:	bold;
	width			:	auto;
    margin			:	0;
    padding			:	0;
	text-align		:	center;
	margin-left		:	auto;
	margin-right	:	auto;
}
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	max-width		:	100%;
}
/* conserver le ratio des images */
img {
	height			:	auto;
}
@media (max-device-width:800px) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}
label{
	font-weight 	:	bold;
}
.desact_retour{
	display			:	block;
}
form input{
	height			:	30px;
	width			:	450px;
	font-weight		:	bold;
	font-size		:	24px;
}
form select{
	height			:	30px;
	width			:	480px;
	font-weight		:	bold;
	font-size		:	24px;
}
form button{
	height			:	35px;
	width			:	480px;
	font-weight		:	bold;
	font-size		:	24px;
}
#parametres{
	text-align		:	center;
}
#graphique{
	margin-right	:	0%;
	margin-top		:	5%;
	float			:	none;
	width			:	480px;
	height			:	auto;
}
#information{
	margin-top		:	5%;
	margin-left		:	20px;
	border			:	1px black solid;
	padding			:	10px;
	width			:	450px;
	text-align		:	left;
}
#plus{
	float			:	none;
	text-align		:	center;
}
#plus button{
	height			:	35px;
	width			:	430px;
	font-weight		:	bold;
	font-size		:	24px;
}
#plus button{
	font-weight 	:	bold;
}
path { 
	stroke			:	green;
	stroke-width	:	2;
	fill			:	none;
}
.axis path, .axis line {
	fill			:	none;
	stroke			:	grey;
	stroke-width	:	1;
	shape-rendering	:	crispEdges;
}
svg{
	text-align		:	center;
}
.legend_axe{
	font-weight		:	bold;
}
.legend_titre{
	font-weight		:	bold;
	font-size		:	1.2em;
}
#masquer{
}
#tabs{
	z-index			:	2;
}
#annexes{
	display			:	none;
	z-index			:	1;
	position		:	absolute;
	top				:	200px;
	left			:	320px;
	background-color:	#FAFAFA;
}
#parametres_popup{
	display			:	none;
	z-index			:	1;
	position		:	absolute;
	top				:	200px;
	left			:	320px;
	background-color:	#FAFAFA;
	width			:	400px;
}