/*
Cosmograve
*/
body { 
	font			:	12px Arial;}
label{
	font-weight 	:	bold;
}
.desact_retour{
	display			:	inline-block;
}
#parametres{
	text-align		:	center;
}
#graphique{
	margin-left		:	26%;
	margin-top		:	5%
}