/*
	Cosmograve
*/
body { 
	font			:	12px Arial;
}
label{
	font-weight 	:	bold;
}
.desact_retour{
	display			:	inline-block;
}
#parametres{
	text-align		:	center;
}
#graphique{
	margin-right	:	50px;
	margin-top		:	5%;
	float			:	right;
}
#information{
	margin-top		:	20px;
	margin-left		:	20px;
	/*margin-bottom	:	270px;*/
	border			:	1px black solid;
	padding			:	10px;
	width			:	350px;
}
#modele{
	float			:	left;
	margin-top		:	20px;
	margin-left		:	20px;
	border			:	1px black solid;
}
#plus{
	float			:	right;
}
#plus button{
	font-weight 	:	bold;
}
path { 
	stroke			:	steelblue;
	stroke-width	:	2;
	fill			:	none;
}
.axis path, .axis line {
	fill			:	none;
	stroke			:	grey;
	stroke-width	:	1;
	shape-rendering	:	crispEdges;
}
svg{
	text-align		:	center;
}
.legend_axe{
	font-weight		:	bold;
}
.legend_titre{
	font-weight		:	bold;
	font-size		:	1.2em;
}
#tabs-2{
	height			:	650px;
}