/*
	Cosmograve
*/
body { 
	font			:	12px Arial;
}
label{
	font-weight 	:	bold;
}
fieldset {
	padding			:	0 20px 20px 20px;
	margin-bottom	:	10px;
	border			:	3px solid #008B8B;
	border-radius	:	12px;
	width			:	500px;
	background		:	#66CDAA;
	margin-left		:	20px;
}
#lengende{
	color			:	#DF3F3F;
 	font-weight		:	bold;
}
#information{
	margin-top		:	-650px;
	margin-left		:	730px;
	/*margin-bottom	:	270px;*/
	border			:	4px ridge black;
	border-radius	:	12px;
	padding			:	10px;
	width			:	450px;
	height			:	100px;
	font-family		:	Zapf Chancery, cursive;
	font-size		:	18px;
}
#formulaire{
	width	:	600px;
}
#myCanvas {
	margin-left	: 30px;
	margin-top	: 30px;
}
.masse{
	display			:	inline;
	font-family:
}
.rayon{
	display			:	inline;
	font-family:
	
}
.vitesse1{
	display			:	inline;
	font-family:
}
.vitesse2{
	display			:	inline;
	font-family:
}
.bouton{
	display			:	inline-block;
	font-family:
}
#parametres{Auteur 	
tatsu 	
# 25 Mar 2009, 15:00:54
Citer
23 Posts
	margin-top		:	5px;
	text-align		:	center;
}
#graphique2{
	margin-left		:	680px;
	margin-top		:	-458px;
	}

#axe{
	text-align		:	center;
	display			:	inline;
	margin-top 		:	17px;
}
path { 
	stroke			:	DarkCyan;
	stroke-width	:	2;
	fill			:	none;
}
.axis path, .axis line {
	fill			:	none;
	stroke			:	grey;
	stroke-width	:	1;
	shape-rendering	:	crispEdges;
}
svg{
	text-align		:	center;
}
.legend_axe{
	font-weight		:	bold;
}
.legend_titre{
	font-weight		:	bold;
	font-size		:	1.2em;
}
