/*
	Cosmograve
*/
body { 
	font			:	12px Arial;
}
label{
	font-weight 	:	bold;
}
.desact_retour{
	display			:	inline-block;
}
#parametres{
	text-align		:	center;
}
#graphique2{
	margin-right	:	50px;
	margin-top		:	2%;
	float			:	right;
}
#information{
	margin-top		:	38%;
	margin-left		:	39%;
	/*margin-bottom	:	270px;*/
	border			:	1px black solid;
	padding			:	10px;
	width			:	350px;
}
#canvas{
	float			:	left;
	margin-top		:	1%;
	margin-left		:	20px;
	
	/*border			:	1px black solid;*/
}
#plus{
	float			:	right;
}
#plus button{
	font-weight 	:	bold;
}
path { 
	stroke			:	steelblue;
	stroke-width	:	2;
	fill			:	none;
}
.axis path, .axis line {
	fill			:	none;
	stroke			:	grey;
	stroke-width	:	1;
	shape-rendering	:	crispEdges;
}
svg{
	text-align		:	center;
}
.legend_axe{
	font-weight		:	bold;
	font-size		:	1.2em;
}
.legend_titre{
	font-weight		:	bold;
	font-size		:	1.3em;
}
#tabs-2{
	margin			:	0px;
	padding			:	0px;
}
#tabs-3{
	margin			:	0px;
	padding			:	0px;
}
#tabs-a{
	height			:	700px;
}
